# Configuration file

gui {
    # meterX [range: -2.14748365E9 ~ 2.14748365E9, default: 0.0]
    S:meterX=0.0

    # meterY [range: -2.14748365E9 ~ 2.14748365E9, default: 0.0]
    S:meterY=0.0

    # textX [range: -2.14748365E9 ~ 2.14748365E9, default: 0.0]
    S:textX=-2000000000.0

    # textY [range: -2.14748365E9 ~ 2.14748365E9, default: 0.0]
    S:textY=0.0
}


setup {
    # addItemInventoryWeight [default: true]
    B:addItemInventoryWeight=true

    # allowInCreative [default: false]
    B:allowInCreative=false

    # canFly [default: false]
    B:canFly=false

    # canSleepWhileEncumbered [default: true]
    B:canSleepWhileEncumbered=true

    # canSleepWhileOverEncumbered [default: false]
    B:canSleepWhileOverEncumbered=false

    # enabled [default: true]
    B:enabled=true

    # encumberedExhaustion [range: 0.0 ~ 100.0, default: 0.3]
    S:encumberedExhaustion=0.3

    # encumberedSpeed [range: 0.0 ~ 1.0, default: 0.2]
    S:encumberedSpeed=0.2

    # jumpExhaustion [range: 0.0 ~ 100.0, default: 1.0]
    S:jumpExhaustion=1.0

    # loseOffsetOnDeath [default: false]
    B:loseOffsetOnDeath=false

    # maxCarryWeight [range: 0.0 ~ 3.4028235E38, default: 700.0]
    S:maxCarryWeight=60.0

    # overEncumberedExhaustion [range: 0.0 ~ 100.0, default: 1.0]
    S:overEncumberedExhaustion=1.0

    # overEncumberedSpeed [range: 0.0 ~ 1.0, default: 0.0]
    S:overEncumberedSpeed=0.0

    # pumpingIron [default: true]
    B:pumpingIron=false

    # pumpingIronWeightIncrease [range: 0.0 ~ 10.0, default: 0.5]
    S:pumpingIronWeightIncrease=0.5

    # showWeightBar [default: true]
    B:showWeightBar=true

    # The weight text to be rendered to the screen [default: Stone]
    S:weightText=Weight
}


